{% extends 'layouts/mail.htm' %}
{% block content %}
{% if custom_message %}
	{{custom_message|raw}}
{% else %}

	<font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#231f20" size="+2">
		<strong>Gentile, {{cart.company}},</strong>
	</font>
	<br><br><br>
	<font face="Gotham, Helvetica Neue, Helvetica, Arial, sans-serif" color="#424242">
		Ti comunichiamo che il tuo ordine ha cambiato stato.<br>
		Lo stato del tuo ordine è {{status.get('name')}}.<br>
		
		{% if note %}
		<br><br>
		Note: {{note}}
		{% endif %}
		<br><br>
		Puoi monitorare lo stato dei tuoi ordini 
		
		<a href="https://ecommerce.tecneco.com">qui &raquo;</a>
		
	</font>
{% endif %}


{% endblock %}



